@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 600px;
    background-color: #758283;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat",sans-serif;
    padding: 20px;
}
.navbar img{
    color: #ffffff;
    width: 100px;
}
.list{
    list-style: none;
    display: flex;
}
.list-item{
    margin-left: 30px;
}
.nav-btn{
    padding: 10px 30px;
    margin-right: 30px;
    background: transparent;
    color: #ffffff;
    border: 2px solid #02B290;
}
/* header section styling */
.header-section{
    width: 100%;
}
.header-container{
    max-width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat",sans-serif;
    color: #ffffff;
}
.header-container img{
    width: 300px;
    height: 400px;
}
.text{
    width: 50%;
}
.heading{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.content{
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    color: #d0d1d1;
    margin-bottom: 30px;
}
input{
    width: 75%;
    padding: 14px;
}
.btn{
    padding: 10px 30px;
    background-color: #02B290;
    border: none;
    color: #ffffff;
}
.btn-header{
    position: relative;
    display: inline;
    right: 7.5rem;
}

/* section first styling */
.section-container{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-family: "Poppins",sans-serif;
}
.section-container .heading{
    width: 50%;
    margin: 10px auto;
} 
.stats{
    max-width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-container img{
    width: 700px;
    height: 350px;
    margin: 50px 0;
}

/* section styling */

.row{
    width: 100vw;
    margin: 50px auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat",sans-serif;
}

.main-heading{
    width: 50%;
    margin: 30px auto;
    font-family: "Poppins",sans-serif;
    font-size: 50px;
    text-align: center;
}
.row-content{
    width: 50%;
    padding: 20px;
    letter-spacing: .5px;
}
.row-heading{
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.row-content p{
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 20px;
    line-height: 1.8;
}
.row-btn{
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #02B290;
    border: none;
    color: #ffffff;
}
.image-div{
    width: 50%;
    text-align: center;
}
.section-img{
    width: 300px;
    height: 350px;
    margin-top: 20px;
    margin-left: 100px;
}
.second-row{
    margin-top: 10%;
    margin-right: 10%;
}
.third-row{
    margin-top: 10%;
}
.third-row .content{
    margin-top: 50px;
}

/* bottom content */
.bottom-row{
    width: 100vw;
    max-width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat",sans-serif;
}
.bottoms-row{
    width: 100vw;
    max-width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat",sans-serif;
}
.bottom-div{
    width: 40%;
    margin: 0 20px;
}
.bottom-heading{
    font-size: 40px;
    font-weight: 600;
}

/* team gallary */
.team{
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.team-member{
    margin-left: 30px;
}
.team-img{
    width: 300px;
    height: 350px;
}
.person h1{
    margin-top: 10px;
    font-size: 16px;
}
.person p{
    font-size: 12px;
    margin-top: 10px;
}
.team-btn{
    display: block;
    margin: auto;
    padding: 15px 50px;
    background-color: #02B290;
    border: none;
    color: #ffffff;
    margin-bottom: 100px;
    font-size: 20px;
}


/* Footer styling goes here */

.footer-container{
    width: 100vw;
    height: 450px;
    background-color: #0D0D0D;
    color: #ffffff;
}
.footer-wrapper{
    max-width: 90%;
    margin: 0 auto;
    padding-top: 70px;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
.footer-icons img{
    width: 100px;
}
.social-icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.fa-brands{
    font-size: 20px;
}
.fa-solid{
    font-size: 20px;
}
hr{
    border: 1px solid #5c5e5e;
}
.links{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: "Poppins",sans-serif;
}
.link h3{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
    text-transform: capitalize;
}
.link p{
    font-size: 12px;
    line-height: 2.5;
    color: #7e8181;
    text-transform: capitalize;
}
.fa-bars{
    display: none;
    font-size: 40px;
    margin-right: 40px;
}

/* media quesrries goes here */

@media screen and (max-width:1034px) {
    input{
        width: 70%;
        padding: 14px;
    }
    .btn{
        padding: 10px 30px;
        background-color: #02B290;
        border: none;
        color: #ffffff;
    }
    .btn-header{
        position: relative;
        display: inline;
        right: 7.5rem;
    }
    
}
@media screen and (max-width:820px) {
    .list{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    
}
@media screen and (max-width:940px) {
     .header-container{
        flex-direction: column;
        text-align: center;
    }
    header{
        height: 1200px;
    }
    input{
        width: 80%;
        padding: 12px;
        margin: 0 auto;
    }
    .btn{
        padding: 8px 25px;
        background-color: #02B290;
        border: none;
        color: #ffffff;
    }
    .btn-header{
        position: relative;
        display: inline;
        right: 0;
        margin-top: 20px;
    }
    .main-heading{
        font-size: 30px;
    }
    .row{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .second-row{
        flex-direction: column;
        margin-left: 40px;
    }
    .row-content{
        text-align: center;
        width: 70%;
    }
    .image-div{
        margin-right: 150px;
        margin-bottom: 20px;
    }
    .row-heading{
        font-size: 30px;
    }
    .team{
        max-width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .team-member{
        margin-bottom: 30px;
    }
    .bottom-heading{
        font-size: 30px;
    }
    .bottom-text{
        font-size: 14px;
    }
     .heading .content{
        width: 90%;
        margin-top: 50px;
    }
    .text{
        margin-top: 50px;
    }
}